* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #cdcdcd;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

nav {
    background-color: #343434;
    color: #fff;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li:hover {
    color: yellow;
    font-weight: bolder;
}

#main-container {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

#main-container div {
    width: 30%;
}

main img {
    width: 100%;
}

#main-container div img {
    width: 100%;
    margin-top: 15px; 
    margin-bottom: 20px;
}

footer {
    background-color: #dedede;
    padding: 20px;
    border-top: 1px solid #343434;
}

#footer-container {
    display: flex;
    justify-content: space-between;
}

#footer-container ul {
    list-style-type: none;
}

#copyright {
    border-top: 1px solid #565656;
    text-align: center;
    padding: 20px;
}